[init]
    defaultBranch = main
[user]
    email = your-github-username@users.noreply.github.com
    name = Jane Doe
[include]
    # 絶対パスではなく、ホームからの相対パスにする
    path = ~/dotfiles/gitconfig
[core]
    # ここも同様
    excludesfile = ~/dotfiles/common/gitignore_global
