# configs/.env.template

# --- System Settings ---
# DOTPATH は install.sh で自動設定されるけど、ここでも定義可能
# DOTPATH=$HOME/dotfiles

# --- Application Keys (Example) ---
# OPENAI_API_KEY=""
# GITHUB_TOKEN=""

# --- Machine Specific ---
# NODE_ENV="development"
