# This file is for machine-specific Git settings (User Info, etc.)
# It is ignored by git to keep your personal info private.

[user]
    name = YOUR_NAME
    email = YOUR_EMAIL@example.com
[commit]
    # 必要なら GPG サインの設定とかもここに
    # gpgsign = true

[core]
    # マシン固有のエディタ設定があれば
    # editor = vim
